.vscode/launch.json
.vscode/rad.json
DMSK_p1_1.0.0.0.app
.alpackages/Microsoft_Application_20.4.44313.45517.app
.alpackages/Microsoft_Base Application_20.4.44313.45517.app
.alpackages/Microsoft_System Application_20.4.44313.45517.app
.alpackages/Microsoft_System_20.0.44266.45461.app
